<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<variable name="logFormat" value="${longdate}|${threadid}|${level:uppercase=true}|${logger:shortName=true}: ${message} ${onexception:${newline}${exception:format=tostring}}" />
	<variable name="logDirectory" value="${specialfolder:folder=CommonApplicationData}/WinTool" />

	<targets>
		<target xsi:type="File" name="fileLog" fileName="${logDirectory}/WinTool.log" archiveAboveSize="5242880" maxArchiveFiles="2" layout="${logFormat}" />
		<target xsi:type="Debugger" name="debugLog" layout="${logFormat}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="debugLog" />
		<logger name="*" minlevel="Information" writeTo="fileLog" />
	</rules>
</nlog>