name: WinTool

on:
  push:
    branches: [ "**" ]
    tags: [ "**"]

env:
  PROJECT_NAME: WinTool
  PROJECT_DIR: src/WinTool
  OUTPUT_DIR: output
  ARTIFACTS_DIR: artifacts

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1

    - name: Build
      run: |
        msbuild ${{ env.PROJECT_DIR }} /t:Restore /t:publish /p:OutputPath="$(pwd)/${{ env.OUTPUT_DIR }}/" /p:Configuration=Release /p:IncludeNativeLibrariesForSelfExtract=true /p:SelfContained=true /p:RuntimeIdentifier=win-x64 -p:PublishSingleFile=true

    - name: Archive
      uses: actions/upload-artifact@v4
      if: github.ref_type == 'tag'
      with:
        name: ${{ env.PROJECT_NAME }}
        path: ./${{ env.OUTPUT_DIR }}/publish/${{ env.PROJECT_NAME }}.exe

  publish:
    needs: build
    runs-on: windows-latest
    if: github.ref_type == 'tag'

    steps:
    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: ${{ env.PROJECT_NAME }}
        path: ${{ env.ARTIFACTS_DIR }}

    - name: Create release
      uses: ncipollo/release-action@v1
      with:
        artifacts: ${{ env.ARTIFACTS_DIR }}/${{ env.PROJECT_NAME }}.exe
        generateReleaseNotes: true
        token: ${{ secrets.GH_USER_TOKEN }}
